body {
    margin: 150px;
    background-color: black;
}

input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
}

table {
    padding: 10px;
    border-radius: 10px;
}